<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <!-- Meta tags SEO -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AURE - Venta de espejos de diseño en Talca y Región del Maule. Espejos minimalistas de alta calidad, fabricación a medida y envíos a toda la región. Los mejores espejos decorativos en Talca.">
    <meta name="keywords" content="espejos Talca, espejos Maule, espejos decorativos Talca, espejos minimalistas, espejos de diseño, venta de espejos Talca, espejos a medida Maule, AURE espejos">
    <meta name="author" content="AURE">
    <meta name="robots" content="index, follow">
    <meta name="geo.region" content="CL-ML">
    <meta name="geo.placename" content="Talca">
    
    {% block title %}
      <title>AURE - Espejos de Diseño en Talca | Región del Maule</title>
    {% endblock %}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="AURE - Espejos de Diseño en Talca">
    <meta property="og:description" content="Espejos minimalistas de alta calidad en Talca. Diseño y fabricación a medida para tu hogar.">
    <meta property="og:image" content="{% static 'images/espejo.jpeg' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Schema.org markup para Rich Snippets -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "AURE Espejos",
      "image": "{% static 'images/espejo.jpeg' %}",
      "description": "Fabricación y venta de espejos minimalistas de diseño en Talca y Región del Maule. Especialistas en espejos decorativos y a medida.",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Talca",
        "addressRegion": "Maule",
        "addressCountry": "CL"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "-35.4264",
        "longitude": "-71.6553"
      },
      "url": "https://www.aure.cl",
      "telephone": "+56997966996",
      "priceRange": "$$",
      "areaServed": ["Talca", "Región del Maule"],
      "sameAs": [
        "https://www.instagram.com/aure.cl",
        "https://www.facebook.com/aure.cl"
      ]
    }
    </script>
  </head>
  <body>
    {% include 'navbar.html' %}
    
    {% block sidebar %}
      <!-- insert default navigation text for every page -->
    {% endblock %}
    {% block content %}
      <!-- default content text (typically empty) -->
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>