{% extends "base.html" %}

{% block content %}
<div class="container" style="padding-top: 200px;">
    <main>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Carrito</span>
                    <span class="badge bg-primary rounded-pill" id="carrito-count">0</span>
                </h4>
                <ul class="list-group mb-3" id="carrito-list">
                </ul>

                

                <form class="card p-2" id="codigo-descuento">
                    <div class="input-group">
                      <input type="text" class="form-control" id="descuento-input" name="descuento" placeholder="$ de descuento">
                      <button type="submit" class="btn btn-secondary">Aplicar</button>
                    </div>
                  </form>
                  
                
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Medidas espejo</h4>
                <form class="needs-validation" novalidate id="espejo-form">
                    <div class="row g-3">
                        <div class="col-sm-3">
                            <label for="alto" class="form-label">Alto(cm)</label>
                            <input type="text" class="form-control" id="alto" name="alto" placeholder="" required>
                            <div class="invalid-feedback">
                                El valor del alto es requerido.
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label for="ancho" class="form-label">Ancho(cm)</label>
                            <input type="text" class="form-control" id="ancho" name="ancho" placeholder="" required>
                            <div class="invalid-feedback">
                                El valor del ancho es requerido.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3">Color</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="color_blanco" name="color" type="radio" class="form-check-input" value="blanco" required>
                            <label class="form-check-label" for="color_blanco">Blanco ($1000 extra)</label>
                        </div>
                        <div class="form-check">
                            <input id="color_otro" name="color" type="radio" class="form-check-input" value="otro" checked required>
                            <label class="form-check-label" for="color_otro">Otro</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3">Pedestal</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="pedestal_si" name="pedestal" type="radio" class="form-check-input" value="si" checked required>
                            <label class="form-check-label" for="pedestal_si">Si</label>
                        </div>
                        <div class="form-check">
                            <input id="pedestal_no" name="pedestal" type="radio" class="form-check-input" value="no" required>
                            <label class="form-check-label" for="pedestal_no">No</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" id="agregar-btn" type="button">Agregar</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <p class="mb-1">&copy; 2020–2023 Aure</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const espejoForm = document.getElementById('espejo-form');
        const carritoList = document.getElementById('carrito-list');
        const carritoCount = document.getElementById('carrito-count');
        const agregarBtn = document.getElementById('agregar-btn');
        const descuentoForm = document.getElementById('codigo-descuento');
        const altoInput = document.getElementById('alto');
        const anchoInput = document.getElementById('ancho');
        let total = 0;
        let totalItem = null;
        let precioActual = 0;
        let carritoItem = null;

        function actualizarPrecioEnTiempoReal() {
            const alto = parseFloat(altoInput.value);
            const ancho = parseFloat(anchoInput.value);
            const color = document.querySelector('input[name="color"]:checked').value;
            const pedestal = document.querySelector('input[name="pedestal"]:checked').value;

            if (!isNaN(alto) && !isNaN(ancho)) {
                precioActual = calcularPrecio(alto, ancho, color, pedestal);
                
                if (!carritoItem) {
                    carritoItem = document.createElement('li');
                    carritoItem.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'lh-sm');
                    carritoList.insertBefore(carritoItem, totalItem);
                }

                carritoItem.innerHTML = `
                    <div>
                        <h6 class="my-0">Espejo (${alto}x${ancho}cm)</h6>
                        ${pedestal === 'si' ? '<small class="text-body-secondary">Espejo con pedestal</small>' : ''}
                        ${color === 'blanco' ? '<small class="text-body-secondary">Color blanco</small>' : ''}
                    </div>
                    <span class="text-body-secondary">$${precioActual.toFixed(0)}</span>
                `;

                actualizarTotal();
            } else if (carritoItem) {
                carritoItem.remove();
                carritoItem = null;
                precioActual = 0;
                actualizarTotal();
            }
        }

        altoInput.addEventListener('input', actualizarPrecioEnTiempoReal);
        anchoInput.addEventListener('input', actualizarPrecioEnTiempoReal);
        espejoForm.addEventListener('change', actualizarPrecioEnTiempoReal);

        agregarBtn.addEventListener('click', function(event) {
            event.preventDefault();

            if (carritoItem) {
                carritoCount.textContent = parseInt(carritoCount.textContent) + 1;
                total += precioActual;
                carritoItem.classList.remove('text-body-secondary');
                carritoItem = null;
                precioActual = 0;

                altoInput.value = '';
                anchoInput.value = '';
                document.getElementById('color_otro').checked = true;
                document.getElementById('pedestal_si').checked = true;

                actualizarPrecioEnTiempoReal();
            }
        });

        descuentoForm.addEventListener('submit', function(event) {
            event.preventDefault();
        
            const descuentoInput = document.getElementById('descuento-input');
            const descuento = parseFloat(descuentoInput.value);
        
            if (!isNaN(descuento) && descuento > 0) {
                total = Math.max(0, total - descuento);
                actualizarTotal();
                descuentoInput.value = '';
            }
        });
        
        function calcularPrecio(alto, ancho, color, pedestal) {
            let medida = alto * ancho;
            let precio;
        
            if (medida === 120 * 45) {
                precio = 33000;
            } else if (medida === 170 * 50) {
                precio = 52000;
            } else if (medida === 150 * 45) {
                precio = 42000;
            } else {
                precio = (medida * 33000) / 5400;
            }
        
            if (pedestal === 'si') {
                precio += 5000;
            }
            if (color === 'blanco') {
                precio += 1000;
            }
        
            return precio;
        }
        
        function actualizarTotal() {
            if (totalItem) {
                totalItem.remove();
            }
            
            totalItem = document.createElement('li');
            totalItem.id = 'total-item';
            totalItem.classList.add('list-group-item', 'd-flex', 'justify-content-between');
            totalItem.innerHTML = `
                <span>Total </span>
                <strong>$${(total + precioActual).toFixed(0)}</strong>
            `;
        
            carritoList.appendChild(totalItem);
        }

        actualizarTotal();
    });
</script>

{% endblock %}

