{% extends "base.html" %}

{% block content %}
<div class="container" style="padding-top: 200px;">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="row">
                <!-- Columna izquierda con título y texto -->
                <div class="col-md-5 d-flex flex-column justify-content-center">
                    <h1 class="display-1 fw-bold mb-4">Contacto </h1>
                    <p class="lead">Estamos aquí para ayudarte. Envíanos tu mensaje y nos pondremos en contacto contigo lo antes posible.</p>
                </div>
                
                <!-- Columna derecha con el formulario -->
                <div class="col-md-7">
                    <form id="formularioContacto">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="tel" class="form-control" id="telefono" required>
                        </div>
                        <div class="mb-3">
                            <label for="mensaje" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="mensaje" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const formulario = document.getElementById('formularioContacto');
    
    formulario.addEventListener('submit', function(event) {
        event.preventDefault();
        
        const nombre = document.getElementById('nombre').value.trim();
        const telefono = document.getElementById('telefono').value.trim();
        const mensaje = document.getElementById('mensaje').value.trim();
        
        if (nombre === '') {
            alert('Por favor, ingrese su nombre.');
            return;
        }
        
        if (telefono === '' || !/^\d{9}$/.test(telefono)) {
            alert('Por favor, ingrese un número de teléfono válido de 9 dígitos.');
            return;
        }
        
        if (mensaje === '') {
            alert('Por favor, ingrese un mensaje.');
            return;
        }
        
        // Enviar datos al servidor
        fetch('/contacto/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: new URLSearchParams({
                'nombre': nombre,
                'telefono': telefono,
                'mensaje': mensaje
            })
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(data => {
                    throw new Error(data.message || 'Error desconocido');
                });
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                alert(data.message);
                formulario.reset();
            } else {
                alert('Hubo un error al enviar el mensaje: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Hubo un error al enviar el mensaje: ' + error.message);
        });
    });
});

// Función para obtener el token CSRF
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

{% endblock %}
