{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid p-0">
    <!-- Sección de héroe con imagen de fondo -->
    <section class="hero-section" style="background-color: #edd5ab; height: 100vh;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="display-1 fw-bold mb-4 animate__animated animate__fadeInDown gradual-spacing">AURE </h1>
                    <p class="lead fs-2 mb-5 animate__animated animate__fadeInUp">Diseño minimalista para espacios modernos</p>
                    <a href="{% url 'productos' %}" class="btn btn-outline-dark btn-lg animate__animated animate__fadeInUp">Explorar Catálogo</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Sección Navideña -->
    <section class="christmas-section py-5 bg-dark position-relative">
        <div class="snowfall"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="christmas-content p-4">
                        <h2 class="display-4 fw-bold mb-4" style="color: #ffffff;">
                            Esta Navidad, regala algo especial
                        </h2>
                        <p class="lead mb-4" style="color: #ffffff;">
                            Un espejo es el regalo perfecto para estas fiestas. Ya sea para los más pequeños 
                            de la casa que están descubriendo su reflejo, o para los adultos que buscan 
                            darle un toque de elegancia a su espacio.
                        </p>
                        <p class="h5 mb-4" style="color: #f6c26d;">
                            ¡Haz tu pedido con tiempo y asegura tu regalo navideño!
                        </p>
                        <a href="https://wa.me/56997966996?text=Hola,%20me%20interesa%20saber%20más%20sobre%20los%20espejos%20AURE" 
                           class="btn btn-lg btn-outline-dark" 
                           
                           target="_blank">
                            Háblanos 
                            <i class="fab fa-whatsapp ms-2"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="christmas-image-container position-relative">
                        <img src="{% static 'images/Navidad.png' %}" 
                             alt="Espejo Navideño" 
                             class="img-fluid christmas-image-animation"
                             style="max-width: 100%; height: auto;">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección espejo-->
    <section class="features-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="{% static 'images/espejo.jpeg' %}" class="card-img-top rounded-image" alt="Calidad">
                    </div>
                </div>
                <div class="col-md-8 mb-4">
                    <div class="card border-0 shadow-lg h-100">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h1 class="display-1 fw-bold">
                                <span class="reveal-text">Los espejos son una parte esencial del hogar,</span>
                                <span class="reveal-text">por eso creamos un espejo de piso</span>
                                <span class="reveal-text">que se adapta a cualquier espacio.</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de estadísticas -->
    <section class="stats-section py-5 bg-light">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-4 mb-4">
                    <div class="stat-item">
                        <div class="stat-circle">
                            <svg viewBox="0 0 160 160">
                                <circle class="progress-bg" cx="80" cy="80" r="70"/>
                                <circle class="progress-bar" cx="80" cy="80" r="70"/>
                            </svg>
                            <div class="stat-number" data-target="1000">0</div>
                        </div>
                        <p class="stat-description">Espejos vendidos</p>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="stat-item">
                        <div class="stat-circle">
                            <svg viewBox="0 0 160 160">
                                <circle class="progress-bg" cx="80" cy="80" r="70"/>
                                <circle class="progress-bar" cx="80" cy="80" r="70"/>
                            </svg>
                            <div class="stat-number" data-target="6">0</div>
                        </div>
                        <p class="stat-description">Años de experiencia</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <!-- Nueva sección similar a la sección espejo -->
    <section class="features-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-4 order-md-1">
                    <div class="card border-0 shadow-lg h-100">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h1 class="display-1 fw-bold">
                                <span class="reveal-text">Diseño minimalista y elegante</span>
                                <span class="reveal-text">que complementa cualquier estilo</span>
                                <span class="reveal-text">de decoración en tu hogar.</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 order-md-2">
                    <div class="card border-0 shadow-lg h-100">
                        <img src="{% static 'images/espejo1.heic' %}" class="card-img-top rounded-image" alt="Diseño">
                    </div>
                </div>
            </div>
        </div>
    </section>


     <!-- Sección de características con scroll horizontal -->
     <section class="features-carousel py-5">
        <div class="container">
            <div class="features-wrapper">
                <div class="features-track">
                    <div class="feature-card">
                        <div class="feature-icon">
                            <i class="fas fa-ruler-combined fa-3x"></i>
                        </div>
                        <h3>Medidas Personalizadas</h3>
                        <p>Adaptamos el espejo a las dimensiones exactas que necesitas para tu espacio.</p>
                    </div>
                    
                    <div class="feature-card">
                        <div class="feature-icon">
                            <i class="fas fa-shield-alt fa-3x"></i>
                        </div>
                        <h3>Alta Durabilidad</h3>
                        <p>Fabricados con productos de primera calidad para garantizar años de uso.</p>
                    </div>
                    
                    <div class="feature-card">
                        <div class="feature-icon">
                            <i class="fas fa-feather fa-3x"></i>
                        </div>
                        <h3>Diseño Minimalista</h3>
                        <p>Líneas limpias y elegantes que complementan cualquier decoración.</p>
                    </div>
                    
                    <div class="feature-card">
                        <div class="feature-icon">
                            <i class="fas fa-truck fa-3x"></i>
                        </div>
                        <h3>Envío Seguro</h3>
                        <p>Embalaje especial para garantizar que tu espejo llegue en perfectas condiciones.</p>
                    </div>
                    
                    <div class="feature-card">
                        <div class="feature-icon">
                            <i class="fas fa-tools fa-3x"></i>
                        </div>
                        <h3>Seguro</h3>
                        <p>Sistema de montaje simple y seguro, para que tu espejo este a salvo.</p>
                    </div>
                </div>
                <!-- Indicadores de scroll -->
                <div class="scroll-indicator">
                    <div class="scroll-line">
                        <div class="scroll-progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--  sección de fotos -->
    <section class="features-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4 order-md-1">
                    <div class="row g-4">
                        <!-- Foto superior izquierda -->
                        <div class="col-12">
                            <div class="card border-0 shadow-lg position-relative">
                                <img src="{% static 'images/foto1.heic' %}" class="card-img-top rounded-image" alt="Diseño" style="height: 450px; object-fit: cover;">
                                <div class="image-overlay">
                                    <h2 class="overlay-title">Madera</h3>
                                    <p class="overlay-text">Utilizamos exclusivamente madera maciza en nuestros marcos, no materiales blandos ni imitaciones.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Foto inferior izquierda -->
                        <div class="col-12">
                            <div class="card border-0 shadow-lg position-relative">
                                <img src="{% static 'images/foto2.jpeg' %}" class="card-img-top rounded-image" alt="Diseño" style="height: 450px; object-fit: cover;">
                                <div class="image-overlay">
                                    <h2 class="overlay-title">Pintura de Alta Calidad</h3>
                                    <p class="overlay-text">Empleamos pinturas premium que aseguran un color duradero y uniforme.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 order-md-2">
                    <div class="card border-0 shadow-lg position-relative">
                        <img src="{% static 'images/pascua.jpeg' %}" class="card-img-top rounded-image" alt="Diseño" style="height: 920px; object-fit: cover;">
                        <div class="image-overlay">
                            <h2 class="overlay-title">Acabado en Poliuretano</h3>
                            <p class="overlay-text">El toque final proporciona una protección superior que garantiza años de durabilidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    <!-- Footer -->
    <footer class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="mb-3">AURE</h5>
                    <p class="mb-0">Diseño minimalista para espacios modernos</p>
                    <div class="social-icons mt-3">
                        <a href="https://www.instagram.com/deco.aure/" target="_blank" class="text-white me-3">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="mb-3">Enlaces rápidos</h5>
                    <ul class="list-unstyled footer-links">
                        <li><a href="#" class="text-white">Inicio <span class="link-icon">&gt;</span></a></li>
                        <li><a href="#" class="text-white">Productos <span class="link-icon">&gt;</span></a></li>
                        <li><a href="#" class="text-white">Sobre nosotros <span class="link-icon">&gt;</span></a></li>
                        <li><a href="#" class="text-white">Contacto <span class="link-icon">&gt;</span></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="mb-3">Contáctanos</h5>
                    <p class="mb-2">Teléfono: +56997966996</p>
                    <p class="mb-0">Dirección: 38 Oriente 540, Talca</p>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <hr class="bg-secondary">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="mb-0">&copy; 2023 AURE. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<style>
    .hero-section {
        position: relative;
        overflow: hidden;
    }
    .hero-section > .container {
        position: relative;
        z-index: 2;
    }
    .features-section .card {
        transition: transform 0.3s ease-in-out;
        border-radius: 15px;
        overflow: hidden;
        height: 100%; /* Asegura que ambas tarjetas tengan la misma altura */
    }
    .features-section .card:hover {
        transform: translateY(-10px);
    }
    .gradual-spacing {
        letter-spacing: -10px;
        opacity: 0;
        animation: gradualSpacing 2s forwards;
        animation-delay: 0.5s;
    }

    @keyframes gradualSpacing {
        0% {
            letter-spacing: -10px;
            opacity: 0;
        }
        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }

    .rounded-image {
        border-radius: 15px;
        overflow: hidden;
    }

    .features-section .card {
        border-radius: 15px;
        overflow: hidden;
    }

    .features-section .card-body {
        padding: 2rem;
    }

    .features-section .btn-outline-dark {
        transition: all 0.3s ease;
    }

    .features-section .btn-outline-dark:hover {
        background-color: #343a40;
        color: white;
    }

    footer a {
        transition: color 0.3s ease;
    }

    footer a:hover {
        color: #edd5ab !important; /* Color del fondo del hero */
        padding-left: 5px;
    }

    .stats-section {
        background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
        padding: 80px 0;
    }

    .stat-circle {
        position: relative;
        width: 160px;
        height: 160px;
        margin: 0 auto;
    }

    .stat-circle svg {
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
    }

    circle {
        fill: none;
        stroke-width: 10;
    }

    .progress-bg {
        stroke: #e9ecef;
    }

    .progress-bar {
        stroke: #edd5ab;
        stroke-dasharray: 439.8;
        stroke-dashoffset: 439.8;
        transition: stroke-dashoffset 1.5s ease-in-out;
    }

    .stat-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        font-weight: bold;
        color: #343a40;
    }

    .stat-description {
        font-size: 1.2rem;
        color: #6c757d;
        margin-top: 1rem;
        font-weight: 500;
    }

    .stat-item {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.5s ease;
    }

    .stat-item.visible {
        opacity: 1;
        transform: translateY(0);
    }

    @media (max-width: 768px) {
        .stat-circle {
            width: 140px;
            height: 140px;
        }
        
        .stat-number {
            font-size: 2rem;
        }
    }

    .text-reveal span {
        display: block;
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .text-reveal span.reveal {
        opacity: 1;
        transform: translateY(0);
    }

    .reveal-text {
        display: block;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .reveal-text.revealed {
        opacity: 1;
        transform: translateY(0);
    }

    .features-section h1 {
        color: #343a40; /* Este es un gris oscuro */
    }

    footer {
        font-size: 0.9rem;
    }

    footer h5 {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    footer .footer-links li {
        margin-bottom: 0.5rem;
    }

    footer .footer-links a {
        text-decoration: none;
        transition: color 0.3s ease, padding-left 0.3s ease;
        display: inline-block;
    }

    footer .footer-links a:hover {
        color: #edd5ab !important; /* Color del fondo del hero */
        padding-left: 5px;
    }

    footer .link-icon {
        opacity: 0;
        margin-left: 5px;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    footer .footer-links a:hover .link-icon {
        opacity: 1;
        transform: translateX(3px);
    }

    footer hr {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    /* Estilos para la sección de características */
    .features-carousel {
        background-color: #f8f9fa;
        overflow: hidden;
    }

    .features-wrapper {
        position: relative;
        padding: 20px 0;
    }

    .features-track {
        display: flex;
        gap: 2rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE/Edge */
        padding: 20px 0;
    }

    .features-track::-webkit-scrollbar {
        display: none; /* Chrome/Safari/Opera */
    }

    .feature-card {
        flex: 0 0 300px;
        background: white;
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        scroll-snap-align: center;
        transition: transform 0.3s ease;
    }

    .feature-card:hover {
        transform: translateY(-10px);
    }

    .feature-icon {
        color: #edd5ab;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .feature-card h3 {
        color: #343a40;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .feature-card p {
        color: #6c757d;
        margin-bottom: 0;
        line-height: 1.6;
    }

    /* Indicador de scroll */
    .scroll-indicator {
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .scroll-line {
        height: 4px;
        background-color: #e9ecef;
        border-radius: 2px;
        position: relative;
    }

    .scroll-progress {
        position: absolute;
        height: 100%;
        background-color: #edd5ab;
        border-radius: 2px;
        width: 0;
        transition: width 0.3s ease;
    }

    @media (max-width: 768px) {
        .feature-card {
            flex: 0 0 280px;
            padding: 1.5rem;
        }
    }

    /* Estilos para la sección Por Qué Elegirnos */
    .quality-card {
        padding: 2rem;
        background: white;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-align: center;
    }

    .quality-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    }

    .quality-icon {
        background: rgba(237, 213, 171, 0.1);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        transition: transform 0.3s ease;
    }

    .quality-card:hover .quality-icon {
        transform: scale(1.1);
    }

    .quality-card h3 {
        color: #343a40;
        font-weight: 600;
    }

    .quality-card p {
        font-size: 1.1rem;
        line-height: 1.6;
    }

    @media (max-width: 768px) {
        .quality-card {
            padding: 1.5rem;
        }
    }

    .social-icons a {
        transition: color 0.3s ease;
    }

    .social-icons a:hover {
        color: #edd5ab !important;
    }

    .social-icons i {
        transition: transform 0.3s ease;
    }

    .social-icons a:hover i {
        transform: scale(1.2);
    }

    .features-section .lead {
        font-size: 1.1rem;
        color: #6c757d;
    }

    .features-section h3.display-6 {
        color: #343a40;
        margin-bottom: 0.5rem;
    }

    @media (max-width: 768px) {
        .features-section .lead {
            font-size: 1rem;
        }
        
        .features-section h3.display-6 {
            font-size: 1.5rem;
        }
    }

    .image-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 3rem;
        background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
        border-radius: 0 0 15px 15px;
    }

    .overlay-title {
        color: white;
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        line-height: 1.2;
    }

    .overlay-text {
        color: rgba(255,255,255,0.9);
        font-size: 1.5rem;
        margin-bottom: 0;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
        line-height: 1.4;
    }

    @media (max-width: 768px) {
        .overlay-title {
            font-size: 2.2rem;
        }
        
        .overlay-text {
            font-size: 1.2rem;
        }

        .image-overlay {
            padding: 2rem;
        }
    }

    .christmas-section {
        background: linear-gradient(135deg, #0d5b39 0%, #083723 100%) !important;
        position: relative;
        overflow: hidden;
    }

    .festive-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.1),
            rgba(8, 55, 35, 0.2)
        );
        border-radius: 1rem;
    }

    .snow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: 
            radial-gradient(2px 2px at 20px 30px, #fff, rgba(0,0,0,0)),
            radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
            radial-gradient(2px 2px at 50px 160px, #fff, rgba(0,0,0,0)),
            radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
            radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0));
        background-size: 200px 200px;
        animation: snow 3s linear infinite;
        opacity: 0.3;
    }

    @keyframes snow {
        0% {
            background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
        }
        100% {
            background-position: 200px 200px, 400px 400px, 300px 300px, 200px 200px, 300px 300px;
        }
    }

    .christmas-section .btn {
        background-color: #ffffff !important;
        color: #0d5b39 !important;
        font-weight: 600;
        transition: all 0.3s ease;
        border: none;
        padding: 1rem 2rem;
    }

    .christmas-section .btn:hover {
        background-color: #f0f0f0 !important;
        color: #0d5b39 !important;
        transform: translateY(-3px);
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
    }

    @media (max-width: 768px) {
        .christmas-content {
            text-align: center;
            padding: 2rem 1rem;
        }

        .christmas-image-container {
            margin-top: 2rem;
        }
    }

    .snowfall {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: none;
        background-image: 
            radial-gradient(3px 3px at 40px 60px, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 100px 120px, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 200px 50px, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 300px 160px, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 400px 90px, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 500px 200px, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 50px 300px, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 150px 400px, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 250px 350px, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0)),
            radial-gradient(3px 3px at 350px 450px, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0));
        background-size: 600px 600px;
        animation: snowfall 8s linear infinite;
        opacity: 0.5;
    }

    @keyframes snowfall {
        0% {
            background-position: 
                0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
                0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
        }
        100% {
            background-position: 
                600px 600px, 600px 600px, 600px 600px, 600px 600px, 600px 600px,
                600px 600px, 600px 600px, 600px 600px, 600px 600px, 600px 600px;
        }
    }

    .christmas-section {
        overflow: hidden;
    }

    .christmas-section .container {
        position: relative;
        z-index: 2;
    }

    .christmas-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .christmas-image-container img {
        max-height: 500px;
        object-fit: contain;
    }

    .christmas-image-animation {
        opacity: 0;
        transform: translateY(50px) scale(0.95);
        transition: all 2s ease;
    }

    .christmas-image-animation.animate {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    .christmas-image-container {
        perspective: 1000px;
    }

    .modal-content {
        border-radius: 15px;
        border: none;
    }

    .modal .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    }

    .modal-header .btn-close {
        opacity: 0.8;
    }

    .modal-header .btn-close:hover {
        opacity: 1;
    }

    .modal .lead {
        font-size: 1.1rem;
        line-height: 1.6;
    }

    @media (max-width: 768px) {
        .modal-body {
            padding: 2rem !important;
        }
        
        .modal .lead {
            font-size: 1rem;
        }
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Animación de desplazamiento suave
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });

        // Efecto de aparición al hacer scroll
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('animate__animated', 'animate__fadeInUp');
                }
            });
        });

        document.querySelectorAll('.features-section .card').forEach(card => {
            observer.observe(card);
        });

        // Reiniciar la animación de espaciado gradual al recargar la página
        const h1Element = document.querySelector('.gradual-spacing');
        h1Element.style.animation = 'none';
        h1Element.offsetHeight; // Forzar un reflow
        h1Element.style.animation = null;

        // Función para animar los números
        function animateStats() {
            const stats = document.querySelectorAll('.stat-item');
            
            stats.forEach(stat => {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting && !stat.classList.contains('animated')) {
                            const targetValue = parseInt(stat.dataset.value);
                            const numberElement = stat.querySelector('.stat-number');
                            const circleProgress = stat.querySelector('.stat-circle-progress');
                            let currentValue = 0;
                            
                            // Ajustamos el cálculo del progreso
                            const maxValue = targetValue <= 10 ? 10 : 1200;
                            const progress = targetValue / maxValue;
                            
                            // Usamos el valor exacto de la circunferencia
                            const circumference = 408.407;
                            const dashoffset = circumference * (1 - progress);
                            
                            // Animación del número
                            const duration = 2000;
                            const start = performance.now();
                            
                            function updateNumber(currentTime) {
                                const elapsed = currentTime - start;
                                const progress = Math.min(elapsed / duration, 1);
                                
                                currentValue = Math.floor(targetValue * progress);
                                numberElement.textContent = targetValue > 100 ? `+${currentValue}` : currentValue;
                                
                                if (progress < 1) {
                                    requestAnimationFrame(updateNumber);
                                }
                            }
                            
                            // Animamos el círculo
                            circleProgress.style.strokeDashoffset = dashoffset;
                            
                            requestAnimationFrame(updateNumber);
                            stat.classList.add('animated');
                            observer.disconnect();
                        }
                    });
                }, { threshold: 0.5 });
                
                observer.observe(stat);
            });
        }

        // Iniciamos las animaciones
        animateStats();

        // Efecto de text reveal más lento y activado al bajar
        const textRevealObserver = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    const spans = entry.target.querySelectorAll('span');
                    spans.forEach((span, index) => {
                        span.style.transitionDelay = `${index * 0.3}s`;
                        span.classList.add('reveal');
                    });
                } else {
                    const spans = entry.target.querySelectorAll('span');
                    spans.forEach(span => {
                        span.style.transitionDelay = '0s';
                        span.classList.remove('reveal');
                    });
                }
            });
        }, { 
            threshold: 0.1,
            rootMargin: "-100px 0px -100px 0px"
        });

        const textRevealElement = document.querySelector('.text-reveal');
        if (textRevealElement) {
            textRevealObserver.observe(textRevealElement);
        }

        // Efecto de text reveal individual
        const revealTextObserver = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('revealed');
                    revealTextObserver.unobserve(entry.target);
                }
            });
        }, { 
            threshold: 0.5,
            rootMargin: "-10px 0px -10px 0px"
        });

        const revealTextElements = document.querySelectorAll('.reveal-text');
        revealTextElements.forEach(element => {
            revealTextObserver.observe(element);
        });
    });
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const stats = document.querySelectorAll('.stat-item');
    
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                animateStat(entry.target);
                entry.target.classList.add('visible');
            }
        });
    }, {
        threshold: 0.5
    });

    stats.forEach(stat => observer.observe(stat));

    function animateStat(statItem) {
        const numberElement = statItem.querySelector('.stat-number');
        const progressBar = statItem.querySelector('.progress-bar');
        const targetValue = parseInt(numberElement.dataset.target);
        const duration = 1500;
        const startTime = performance.now();
        
        // Simplificamos la lógica del progreso
        const circumference = 439.8; // 2 * π * 70
        const maxValue = targetValue > 100 ? 1000 : 6; // Valores máximos específicos
        
        function updateNumber(currentTime) {
            const elapsedTime = currentTime - startTime;
            const progress = Math.min(elapsedTime / duration, 1);
            
            // Actualizar número
            const currentValue = Math.floor(targetValue * progress);
            numberElement.textContent = targetValue > 100 ? `+${currentValue}` : currentValue;
            
            // Actualizar círculo - Simplificamos el cálculo
            const offset = circumference * (1 - (progress * targetValue / maxValue));
            progressBar.style.strokeDashoffset = offset;
            
            if (progress < 1) {
                requestAnimationFrame(updateNumber);
            }
        }
        
        requestAnimationFrame(updateNumber);
    }
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const featuresTrack = document.querySelector('.features-track');
    const scrollProgress = document.querySelector('.scroll-progress');

    if (featuresTrack && scrollProgress) {
        featuresTrack.addEventListener('scroll', () => {
            const scrollWidth = featuresTrack.scrollWidth - featuresTrack.clientWidth;
            const scrolled = (featuresTrack.scrollLeft / scrollWidth) * 100;
            scrollProgress.style.width = `${scrolled}%`;
        });

        // Animación inicial para mostrar que hay scroll
        setTimeout(() => {
            featuresTrack.scrollTo({
                left: 100,
                behavior: 'smooth'
            });
            setTimeout(() => {
                featuresTrack.scrollTo({
                    left: 0,
                    behavior: 'smooth'
                });
            }, 700);
        }, 1000);
    }
});
</script>
<script>
    // Observador para la animación de la imagen navideña
    const imageObserver = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('animate');
                imageObserver.unobserve(entry.target); // Solo animar una vez
            }
        });
    }, {
        threshold: 0.3 // La animación comenzará cuando el 30% de la imagen sea visible
    });

    // Observar la imagen navideña
    const christmasImage = document.querySelector('.christmas-image-animation');
    if (christmasImage) {
        imageObserver.observe(christmasImage);
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Verificar si el modal ya se mostró antes
        if (!localStorage.getItem('modalShown')) {
            // Si no se ha mostrado, mostrar después de 2 segundos
            setTimeout(function() {
                var discountModal = new bootstrap.Modal(document.getElementById('discountModal'));
                discountModal.show();
                // Marcar el modal como mostrado
                localStorage.setItem('modalShown', 'true');
            }, 2000);
        }
    });
</script>
{% endblock %}
