{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section con texto grande -->
<section class="hero-about py-5 mt-5" style="margin-top: 6rem !important;">
    <div class="container">
        <h1 class="display-2 fw-bold text-center mb-5">Nuestra Historia Comienza Ahora.</h1>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p class="lead text-muted mb-5">
                    En AURE, creemos que cada espacio merece ser transformado con elegancia y simplicidad. 
                    Nuestra misión es crear espejos que no solo reflejen imágenes, sino que también reflejen 
                    nuestro compromiso con la calidad artesanal y el diseño minimalista.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Sección de Valores -->
<section class="values-section py-5 bg-light">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="value-card">
                    <h3>Cómo Diseñamos</h3>
                    <p>
                        Cada espejo es diseñado pensando en la durabilidad y la elegancia. 
                        Utilizamos madera maciza de alta calidad y acabados premium para garantizar 
                        que cada pieza sea única y perdure en el tiempo.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="value-card">
                    <h3>Cómo Trabajamos</h3>
                    <p>
                        Nuestro proceso artesanal combina técnicas tradicionales con tecnología moderna. 
                        Cada espejo es fabricado a mano, prestando atención a cada detalle para asegurar 
                        la más alta calidad.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="value-card">
                    <h3>Nuestro Compromiso</h3>
                    <p>
                        Nos comprometemos con la satisfacción total de nuestros clientes, ofreciendo 
                        productos de calidad superior y un servicio personalizado que supera expectativas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sección de Cita -->
<section class="quote-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <blockquote class="blockquote">
                    <p class="mb-4 display-6">
                        "La escala del desafío es enorme, pero tenemos la suerte de ser parte de esto: 
                        poder ayudar a transformar los espacios de las personas con diseños que perduran."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Fundador">Fundador de AURE</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<!-- Sección de Proceso -->
<section class="process-section py-5 bg-dark text-white">
    <div class="container">
        <h2 class="text-center mb-5">Nuestro Proceso</h2>
        <div class="row g-4">
            <div class="col-md-3">
                <div class="process-step">
                    <div class="step-number">01</div>
                    <h4>Selección de Materiales</h4>
                    <p>Elegimos cuidadosamente cada pieza de madera y material que utilizamos.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="process-step">
                    <div class="step-number">02</div>
                    <h4>Diseño Personalizado</h4>
                    <p>Adaptamos cada diseño a las necesidades específicas del cliente.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="process-step">
                    <div class="step-number">03</div>
                    <h4>Fabricación Artesanal</h4>
                    <p>Cada espejo es fabricado a mano con atención al detalle.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="process-step">
                    <div class="step-number">04</div>
                    <h4>Control de Calidad</h4>
                    <p>Verificamos minuciosamente cada pieza antes de la entrega.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Agregar después de la sección de proceso -->
<section class="fullwidth-images">
    <div class="row g-0">
        <!-- Imagen izquierda -->
        <div class="col-md-6">
            <div class="fullwidth-image-container">
                <img src="{% static 'images/foto1.heic' %}" alt="Proceso de fabricación" class="fullwidth-image">
                <div class="image-overlay">
                    <h3>Proceso de Fabricación</h3>
                    <p>Cada espejo es fabricado con dedicación y atención al detalle</p>
                </div>
            </div>
        </div>
        <!-- Imagen derecha -->
        <div class="col-md-6">
            <div class="fullwidth-image-container">
                <img src="{% static 'images/foto2.heic' %}" alt="Acabado final" class="fullwidth-image">
                <div class="image-overlay">
                    <h3>Acabado Final</h3>
                    <p>El resultado de nuestro compromiso con la calidad</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .hero-about {
        background-color: #ffffff;
        padding: 100px 0;
    }

    .value-card {
        padding: 2rem;
        height: 100%;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        transition: transform 0.3s ease;
    }

    .value-card:hover {
        transform: translateY(-10px);
    }

    .value-card h3 {
        color: #2C3E50;
        margin-bottom: 1rem;
    }

    .quote-section {
        background-color: #f8f9fa;
        padding: 100px 0;
    }

    .blockquote {
        font-style: italic;
    }

    .process-step {
        text-align: center;
        padding: 2rem;
    }

    .step-number {
        font-size: 3rem;
        font-weight: bold;
        color: #edd5ab;
        margin-bottom: 1rem;
    }

    .process-step h4 {
        color: #edd5ab;
        margin-bottom: 1rem;
    }

    .process-step p {
        color: rgba(255,255,255,0.8);
    }

    @media (max-width: 768px) {
        .value-card {
            margin-bottom: 2rem;
        }

        .process-step {
            margin-bottom: 2rem;
        }
    }

    .fullwidth-images {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .fullwidth-image-container {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    .fullwidth-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .fullwidth-image-container:hover .fullwidth-image {
        transform: scale(1.05);
    }

    .fullwidth-image-container .image-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2rem;
        background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
        color: white;
    }

    .fullwidth-image-container .image-overlay h3 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .fullwidth-image-container .image-overlay p {
        font-size: 1.1rem;
        margin: 0;
    }

    @media (max-width: 768px) {
        .fullwidth-image-container {
            height: 50vh;
        }

        .fullwidth-image-container .image-overlay h3 {
            font-size: 1.5rem;
        }

        .fullwidth-image-container .image-overlay p {
            font-size: 1rem;
        }
    }
</style>
{% endblock %}
