{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid bg-dark text-white py-5 mt-5 pt-5" style="margin-top: 6rem !important;">
    <div class="container">
        
       
        
        <!-- Contenedor del carrusel -->
        <div class="product-showcase">
            <div class="product-container">
                <!-- Espejo 1 -->
                <div class="product-slide" data-index="0">
                    <div class="row">
                        <!-- Columna de información -->
                        <div class="col-md-6">
                            <div class="product-info">
                                <h3 class="mb-4">Espejo 1</h3>
                                <ul class="specs-list">
                                    <li><i class="fas fa-ruler-combined"></i> Alto: 120 cm</li>
                                    <li><i class="fas fa-ruler-horizontal"></i> Ancho: 45 cm</li>
                                    <li><i class="fas fa-paint-brush"></i> Color: 
                                        <select class="form-select form-select-sm mt-2 color-select" aria-label="Seleccionar color">
                                            <option value="blanco">Blanco</option>
                                            <option value="verde-musgo">Verde Musgo</option>
                                            <option value="roble">Roble</option>
                                            <option value="azul-petroleo">Azul Petróleo</option>
                                            <option value="menta">Menta</option>
                                            <option value="turqueza">Turquesa</option>
                                        </select>
                                    </li>
                                </ul>
                                <div class="price mb-4">$36.990</div>
                                <a href="#" class="btn btn-primary w-100 whatsapp-btn" target="_blank" data-base-url="https://wa.me/56997966996?text=">
                                    Comprar <i class="fab fa-whatsapp ms-2"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Columna de imagen -->
                        <div class="col-md-6">
                            <div class="product-image-container">
                                <img src="{% static 'images/mirror.png' %}" alt="Espejo 1" class="img-fluid rounded-image">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Espejo 2 -->
                <div class="product-slide" data-index="1">
                    <div class="row">
                        <!-- Columna de información -->
                        <div class="col-md-6">
                            <div class="product-info">
                                <h3 class="mb-4">Espejo 2</h3>
                                <ul class="specs-list">
                                    <li><i class="fas fa-ruler-combined"></i> Alto: 150 cm</li>
                                    <li><i class="fas fa-ruler-horizontal"></i> Ancho: 45 cm</li>
                                    <li><i class="fas fa-paint-brush"></i> Color: 
                                        <select class="form-select form-select-sm mt-2 color-select" aria-label="Seleccionar color">
                                            <option value="blanco">Blanco</option>
                                            <option value="verde-musgo">Verde Musgo</option>
                                            <option value="roble">Roble</option>
                                            <option value="azul-petroleo">Azul Petróleo</option>
                                            <option value="menta">Menta</option>
                                            <option value="turqueza">Turquesa</option>
                                        </select>
                                    </li>
                                </ul>
                                <div class="price mb-4">$47.990</div>
                                <a href="#" class="btn btn-primary w-100 whatsapp-btn" target="_blank" data-base-url="https://wa.me/56997966996?text=">
                                    Comprar <i class="fab fa-whatsapp ms-2"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Columna de imagen -->
                        <div class="col-md-6">
                            <div class="product-image-container">
                                <img src="{% static 'images/mirror.png' %}" alt="Espejo 2" class="img-fluid rounded-image">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Espejo 3 -->
                <div class="product-slide" data-index="2">
                    <div class="row">
                        <!-- Columna de información -->
                        <div class="col-md-6">
                            <div class="product-info">
                                <h3 class="mb-4">Espejo 3</h3>
                                <ul class="specs-list">
                                    <li><i class="fas fa-ruler-combined"></i> Alto: 170 cm</li>
                                    <li><i class="fas fa-ruler-horizontal"></i> Ancho: 50 cm</li>
                                    <li><i class="fas fa-paint-brush"></i> Color: 
                                        <select class="form-select form-select-sm mt-2 color-select" aria-label="Seleccionar color">
                                            <option value="blanco">Blanco</option>
                                            <option value="verde-musgo">Verde Musgo</option>
                                            <option value="roble">Roble</option>
                                            <option value="azul-petroleo">Azul Petróleo</option>
                                            <option value="menta">Menta</option>
                                            <option value="turqueza">Turquesa</option>
                                        </select>
                                    </li>
                                </ul>
                                <div class="price mb-4">$58.990</div>
                                <a href="#" class="btn btn-primary w-100 whatsapp-btn" target="_blank" data-base-url="https://wa.me/56997966996?text=">
                                    Comprar <i class="fab fa-whatsapp ms-2"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Columna de imagen -->
                        <div class="col-md-6">
                            <div class="product-image-container">
                                <img src="{% static 'images/mirror.png' %}" alt="Espejo 3" class="img-fluid rounded-image">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Espejo Personalizable -->
                <div class="product-slide" data-index="3">
                    <div class="row">
                        <!-- Columna de información -->
                        <div class="col-md-6">
                            <div class="product-info custom-mirror">
                                <h3 class="mb-4">Espejo a Medida</h3>
                                <ul class="specs-list">
                                    <li>
                                        <i class="fas fa-ruler-combined"></i> Alto:
                                        <div class="input-group input-group-sm mt-2">
                                            <input type="number" 
                                                   class="form-control custom-input" 
                                                   id="altoCustom" 
                                                   min="50" 
                                                   max="170" 
                                                   placeholder="50-170">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                        <small class="text-muted">Máximo 170 cm</small>
                                    </li>
                                    <li>
                                        <i class="fas fa-ruler-horizontal"></i> Ancho:
                                        <div class="input-group input-group-sm mt-2">
                                            <input type="number" 
                                                   class="form-control custom-input" 
                                                   id="anchoCustom" 
                                                   min="30" 
                                                   max="70" 
                                                   placeholder="30-70">
                                            <span class="input-group-text">cm</span>
                                        </div>
                                        <small class="text-muted">Máximo 70 cm</small>
                                    </li>
                                    <li>
                                        <i class="fas fa-paint-brush"></i> Color: 
                                        <select class="form-select form-select-sm mt-2 color-select" aria-label="Seleccionar color">
                                            <option value="blanco">Blanco</option>
                                            <option value="verde-musgo">Verde Musgo</option>
                                            <option value="roble">Roble</option>
                                            <option value="azul-petroleo">Azul Petróleo</option>
                                            <option value="menta">Menta</option>
                                            <option value="turqueza">Turquesa</option>
                                        </select>
                                    </li>
                                </ul>
                                <div class="price mb-4">Cotizar</div>
                                <a href="#" class="btn btn-primary w-100 whatsapp-btn" target="_blank" data-base-url="https://wa.me/56997966996?text=">
                                    Cotizar <i class="fab fa-whatsapp ms-2"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Columna de imagen -->
                        <div class="col-md-6">
                            <div class="product-image-container">
                                <img src="{% static 'images/mirror.png' %}" alt="Espejo personalizado" class="img-fluid rounded-image">
                                <div class="custom-badge">Personalizable</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botones de navegación -->
            <button class="nav-btn prev-btn" onclick="changeProduct(-1)">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="nav-btn next-btn" onclick="changeProduct(1)">
                <i class="fas fa-chevron-right"></i>
            </button>

            <!-- Indicadores de posición -->
            <div class="position-indicators">
                <span class="current-position">1</span>
                <span class="separator">/</span>
                <span class="total-positions">4</span>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #212529;
    }

    .product-card {
        background: #343a40;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        height: 100%;
    }

    .product-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    }

    .product-image {
        position: relative;
        padding-top: 100%;
        overflow: hidden;
    }

    .product-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-info {
        padding: 1.5rem;
    }

    .product-info h3 {
        color: #ffffff;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .specs-list {
        list-style: none;
        padding: 0;
        margin-bottom: 1.5rem;
    }

    .specs-list li {
        color: #ced4da;
        margin-bottom: 0.5rem;
    }

    .specs-list i {
        color: #edd5ab;
        margin-right: 0.5rem;
    }

    .price {
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }

    .btn-primary {
        background-color: #edd5ab;
        border: none;
        color: #343a40;
        padding: 0.8rem;
        font-weight: 600;
        transition: all 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #ffffff;
        color: #343a40;
        transform: translateY(-2px);
    }

    .custom-mirror .custom-badge {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: #edd5ab;
        color: #343a40;
        padding: 0.5rem 1rem;
        border-radius: 25px;
        font-weight: 600;
    }

    @media (max-width: 768px) {
        .product-card {
            margin-bottom: 2rem;
        }
    }

    .color-select {
        background-color: #495057;
        border: 1px solid #6c757d;
        border-radius: 5px;
        font-size: 0.9rem;
        width: 100%;
        color: #ffffff;
    }

    .color-select option {
        background-color: #343a40;
        color: #ffffff;
    }

    .alert-success {
        background-color: #edd5ab;
        border-color: #e5c38d;
        color: #343a40;
    }

    .form-select-sm {
        padding: 0.25rem 0.5rem;
    }

    .custom-input {
        background-color: #495057;
        border: 1px solid #6c757d;
        color: #ffffff;
    }

    .custom-input:focus {
        background-color: #495057;
        border-color: #edd5ab;
        color: #ffffff;
        box-shadow: 0 0 0 0.2rem rgba(237, 213, 171, 0.25);
    }

    .input-group-text {
        background-color: #edd5ab;
        border: 1px solid #edd5ab;
        color: #343a40;
    }

    .text-muted {
        font-size: 0.8rem;
        margin-top: 0.25rem;
    }

    .product-showcase {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        border: 2px dashed rgba(255, 255, 255, 0.3);
        border-radius: 15px;
    }

    .product-container {
        position: relative;
        overflow: hidden;
        min-height: 600px;
    }

    .product-slide {
        position: absolute;
        width: 100%;
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.5s ease;
    }

    .product-slide.active {
        opacity: 1;
        transform: translateX(0);
    }

    .nav-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.1);
        border: none;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .nav-btn:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    .prev-btn {
        left: -70px;
    }

    .next-btn {
        right: -70px;
    }

    .position-indicators {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 1.2rem;
    }

    .position-indicators .separator {
        margin: 0 0.5rem;
        opacity: 0.5;
    }

    @media (max-width: 992px) {
        .nav-btn {
            width: 40px;
            height: 40px;
        }

        .prev-btn {
            left: -50px;
        }

        .next-btn {
            right: -50px;
        }
    }

    @media (max-width: 768px) {
        .product-showcase {
            padding: 1rem;
        }

        .nav-btn {
            width: 35px;
            height: 35px;
            font-size: 0.8rem;
        }

        .prev-btn {
            left: -40px;
        }

        .next-btn {
            right: -40px;
        }
    }

    .product-image-container {
        height: 500px;
        overflow: hidden;
        border-radius: 15px;
    }

    .product-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-info {
        padding: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-slide {
        padding: 2rem;
    }

    @media (max-width: 768px) {
        .product-image-container {
            height: 300px;
            margin-top: 2rem;
        }

        .product-info {
            padding: 1rem;
        }
    }
</style>

<script>
let currentProduct = 0;
const totalProducts = 4;

function updateWhatsAppLinks() {
    const currentSlide = document.querySelector('.product-slide.active');
    if (!currentSlide) return;

    const productInfo = currentSlide.querySelector('.product-info');
    const whatsappBtn = currentSlide.querySelector('.whatsapp-btn');
    const productName = productInfo.querySelector('h3').textContent;
    const selectedColor = productInfo.querySelector('.color-select').value;
    
    let message = '';
    
    if (productInfo.classList.contains('custom-mirror')) {
        // Para el espejo personalizable
        const alto = document.getElementById('altoCustom').value || 'no especificado';
        const ancho = document.getElementById('anchoCustom').value || 'no especificado';
        message = encodeURIComponent(
            `Hola, me interesa cotizar un ${productName}\n` +
            `Medidas solicitadas:\n` +
            `- Alto: ${alto} cm\n` +
            `- Ancho: ${ancho} cm\n` +
            `- Color: ${selectedColor}\n` +
            `¿Me pueden dar más información sobre el precio y tiempo de entrega?`
        );
    } else {
        // Para los espejos predefinidos
        const specs = productInfo.querySelectorAll('.specs-list li');
        const price = productInfo.querySelector('.price').textContent;
        let dimensions = '';
        specs.forEach(spec => {
            if (spec.textContent.includes('Alto') || spec.textContent.includes('Ancho')) {
                dimensions += `${spec.textContent.trim()}\n`;
            }
        });
        
        message = encodeURIComponent(
            `Hola, me interesa el ${productName}\n` +
            `${dimensions}` +
            `Color seleccionado: ${selectedColor}\n` +
            `Precio: ${price}\n` +
            `¿Está disponible para entrega en Talca?`
        );
    }
    
    whatsappBtn.href = `https://wa.me/56997966996?text=${message}`;
}

// Event listeners para los selectores de color y campos personalizados
document.addEventListener('DOMContentLoaded', function() {
    // Event listeners para los selectores de color
    document.querySelectorAll('.color-select').forEach(select => {
        select.addEventListener('change', updateWhatsAppLinks);
    });

    // Event listeners para inputs personalizados
    const customInputs = ['altoCustom', 'anchoCustom'];
    customInputs.forEach(id => {
        const input = document.getElementById(id);
        if (input) {
            input.addEventListener('input', updateWhatsAppLinks);
        }
    });

    // Inicializar el primer slide y WhatsApp links
    const firstSlide = document.querySelector('.product-slide');
    if (firstSlide) {
        firstSlide.classList.add('active');
        updateWhatsAppLinks();
    }
});

// Actualizar el mensaje cuando se cambia de producto
function changeProduct(direction) {
    const slides = document.querySelectorAll('.product-slide');
    const currentSlide = document.querySelector('.product-slide.active');
    
    if (currentSlide) {
        currentSlide.classList.remove('active');
    }

    currentProduct = (currentProduct + direction + totalProducts) % totalProducts;
    document.querySelector('.current-position').textContent = currentProduct + 1;

    slides[currentProduct].classList.add('active');
    updateWhatsAppLinks();
}
</script>
{% endblock %}
